/* @import url('https://fonts.googleapis.com/css2?family=roboto&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(121, 24, 124);
    color: white;
    border: 1px solid black;
    height: 65px;
    display: flex;
    font-size: 27px;
    align-items: center;
    padding: 0 12px;
}

nav ul {
    list-style-type: none;
}

.gamecontainer {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.info {
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'roboto', sans-serif;
    position: relative;
}

.box {
    border: 1px solid black;
    font-size: 15vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background-color: rgb(100, 24, 124);
}

.gameinfo {
    padding: 0 34px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0px;
}

.bl-0 {
    border-left: 0px;
}

.bt-0 {
    border-top: 0px;
}

.bb-0 {
    border-bottom: 0px;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background-color: blue;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

.line {
    background-color: black;

    width: 0;
    height: 3px;
    background-color: #911d91;
    /* position: absolute; */
    transition: width 1s ease-in-out;

}